/*NAVBAR*/
	.center {
		text-align: center;
	}

	#navbar {
		overflow: hidden;
	}

	.div {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.link {
		font-weight: bold;
		font-size: 13pt;
		width: 100px;
		margin-right: 10px;
		float: left;
		background-color: #66CCFF;
	}

	.border {
		border: 2px solid black;
	}

	#firstLink {
		margin-left: 100px;
	}

	#divest {
		font-size: 16pt;
		background-color: orange;
	}

	#dispatch {
		color: red;
		font-size: 16pt;
		font-weight: bold;
	}

	#LCULPA {
		font-size: 18pt;
		background-color: red;
		color: white;
	}

	.pad {
		font-size: 17pt;
	}

	.pad2 {
		padding-top: 10px;
	}

	.height {
		height: 75px;
	}